USE [cinemax]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 28/08/2017 09:46:32 p.m. ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pelicula]') AND type in (N'U'))
DROP TABLE [dbo].[Pelicula]
GO
USE [master]
GO
/****** Object:  Database [cinemax]    Script Date: 28/08/2017 09:46:32 p.m. ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'cinemax')
DROP DATABASE [cinemax]
GO
/****** Object:  Database [cinemax]    Script Date: 28/08/2017 09:46:32 p.m. ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'cinemax')
CREATE DATABASE [cinemax]


GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinemax].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinemax]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 28/08/2017 09:46:32 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pelicula]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pelicula](
	[Pelicula] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
USE [master]
GO
